@import url("reset.css");

:root {
    /* Colors */
    --color-white: #fff;
    --color-black: #070707;

    /* Marvel red */
    --color-primary: #e62429;
    /* Blue */
    --color-secondary: #4124e6;

    /* Shadows */
    --glass-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    --card-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --card-shadow-hover: 0 0 15px rgba(0, 123, 255, 0.5);

    /* Text shadows */
    --text-shadow-red:
        2px 2px 0 var(--color-primary),
        0 0 5px rgba(230, 36, 41, .45);

    --text-shadow-blue:
        2px 2px 0 var(--color-secondary),
        0 0 5px rgba(65, 36, 230, .45);

    --title-shadow:
        3px 3px 0 var(--color-primary),
        0 0 12px rgba(230, 36, 41, .45);

    /* Effects */
    --focus-shadow:
        0 0 10px rgba(230, 36, 41, .45),
        0 0 20px rgba(65, 36, 230, .25);

    --btn-shadow:
        inset 1px 1px 4px rgba(0, 123, 255),
        1px 1px 4px rgba(0, 123, 255);

    /* Radius */
    --radius-sm: 5px;
    --radius-md: 8px;
    --radius-lg: 10px;
    --radius-xl: 12px;

    /* Spacing */
    --space-xs: .3rem;
    --space-sm: .5rem;
    --space-md: 1rem;

    --transition-all: all .5s;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Manrope", sans-serif;

    background:
        radial-gradient(circle at top left,
            rgba(230, 36, 41, 0.25),
            transparent 35%),

        radial-gradient(circle at bottom right,
            rgba(38, 83, 255, 0.18),
            transparent 40%),

        radial-gradient(circle at center,
            rgba(255, 255, 255, 0.04),
            transparent 60%),

        linear-gradient(135deg,
            #070707,
            #111827,
            #1b1b1b,
            #090909);

    background-attachment: fixed;

    main {
        flex-grow: 1;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    h2 {
        font-size: 1.5rem;
    }
}

main {
    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.trail {
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 3px;
}

.title {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-white);
    text-shadow: var(--text-shadow-red)
}

.main>.title {
    font-size: 2rem;

    @media (max-width: 767px) {
        font-size: 1.2rem;
    }
}

.trail {
    pointer-events: none;
}

.tabs {
    width: min(100%, 700px);
    margin: 2.5rem auto;
    padding: 1.5rem;
    border-radius: 1.5rem;
    color: #ddd;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1.23rem);
    border: 1px solid rgba(255, 255, 255, .08);
    box-shadow:
        0 15px 35px rgba(0, 0, 0, .35),
        inset 0 1px rgba(255, 255, 255, .08);
}

.tabs-btn {
    display: flex;
    gap: .75rem;
    margin-bottom: 1.5rem;

    .btn {
        flex: 1;
        padding: .875rem 1.25rem;
        border: none;
        border-radius: .875rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        background: rgba(255, 255, 255, .05);
        transition:
            background .2s,
            color .2s,
            transform .2s,
            box-shadow .2s;

        @media (any-hover: hover) and (pointer: fine) {
            &:hover {
                transform: translateY(-3px);
                color: white;
                background: rgba(255, 255, 255, .1);
                box-shadow:
                    0 8px 20px rgba(0, 0, 0, .25);
            }
        }

        &.active {
            color: white;
            background: linear-gradient(135deg,
                    #3b82f6,
                    #06b6d4);
            box-shadow:
                0 0 18px rgba(59, 130, 246, .5);
        }
    }
}

.tabs-content {
    position: relative;
}

.tab {
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 1.56rem;
    border-radius: 1.125rem;
    background: rgba(255, 255, 255, .04);
    animation: fade .2s ease;

    h2 {
        font-size: 1.5rem;
        color: var(--color-white);
        text-shadow: var(--text-shadow-blue);
    }

    &.active {
        display: flex;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    p {
        font-size: 1rem;
        color: var(--color-white);
        text-shadow: var(--text-shadow-red);
    }
}